<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <appSettings>
      <add key="AWSAccessKey" value="USE YOUR ACCESS KEY"/>
      <add key="AWSSecretKey" value="USE YOUR SECRET KEY"/>
      <add key="AWSRegion" value="us-east-1"/>

      <add key="LDAPConnectionString" value="LDAP://USE YOUR AD SERVER ADDRESS"/>
      <add key="LDAPServer" value="USE YOUR AD SERVER ADDRESS"/>
      <add key="LDAPUser" value="USE YOUR AD SERVER USER"/>
      <add key="LDAPPassword" value="USE YOUR AD PASSWORD"/>
      <add key="LDAPFind" value="(&amp;(objectCategory=User)(&amp;(memberOf=CN=GU_TI_WEBSTORAGE_AMAZON,OU=AMAZON,OU=Grupos Segurança,DC=USE YOU AD SERVER,DC=local))(!(objectClass=contact))(!(userAccountControl:1.2.840.113556.1.4.803:=2)))"/>

      <add key="MAILServer" value="USE YOUR MAILSERVER ADDRESS"/>
      <add key="MAILFrom" value="USER YOU MAILSERVER ACCOUNT"/>
      <add key="MAILPort" value="25"/>
      <add key="MAILSubject" value="USE YOUR SUBJECT"/>
      <add key="MAILAttach" value="Procedimentos.docx"/>
      <add key="MAILMessage" value="Bem vindo ao WebStorage na Nuvem

Caro(a) {0},
O seu usuário foi incluído no grupo de acesso aos recursos de armazenamento de arquivos na Nuvem(Internet), siga os procedimentos em anexo para configurar a sua conexão.

Informações de acesso
           
Usuario: {1}

ID da Chave de Acesso: {2}

Chave de Acesso Secreta: {3}

Atenciosamente

Infraestrutura
Network Operation Center(NOC)

"/>
      <add key="MAILAttachment" value=""/>
      <add key="AdministratorEmail" value="USER YOUR ADMIN E-MAIL ADDRESS"/>

      <add key="AMAZONBucket" value="USE YOUR AMAZON BUCKET NAME"/>
      <add key="AMAZONSecurityGroup" value="public"/>
      <add key="AMAZONHomeFolder" value="home/"/>
      <add key="AMAZONPublicFolder" value="home/public/"/>
      <add key="AMAZONPersonalFolder" value="home/users/"/>

      <add key="TimeSync" value="60000"/>
      
      
      
    </appSettings>
</configuration>
